body{
font-family:Arial;
text-align:center;
background:#0f2027;
color:white;
padding-top:100px;
}

h1{
font-size:40px;
}

input{
margin:20px;
}

button{
padding:10px 20px;
font-size:18px;
background:#00c6ff;
border:none;
border-radius:8px;
cursor:pointer;
}

button:hover{
background:#0072ff;
}

h2{
margin-top:30px;
font-size:30px;
}